body {
  position: relative;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f8f4e6;

  * {
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  }

  .logging-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
    z-index: 3;
    opacity: 1;
    transition: 1s ease;

    &.authed {
      opacity: 0;
      pointer-events: none;
    }

    .auth {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 10px 20px;
      border-radius: 300px;
      background-color: #ffffff;
      filter: drop-shadow(0px 0px 5px #cecece);
      cursor: pointer;

      span {
        font-size: 1.1rem;
        color: #212121;
      }
    }
  }

  .background-orb {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    position: absolute;
    z-index: 1;
    right: -200px;
    top: -200px;
    height: 600px;
    width: 600px;
    border-radius: 300px;
    // animation: spin infinite linear 12s;
  }

  main {
    position: relative;
    display: block;
    max-width: 960px;
    margin: 0 auto;
    z-index: 2;
    box-sizing: border-box;
    padding: 20px;

    ul {
      list-style: none;
      max-height: calc(100vh - 64px - 4rem);
      transform: translateY(2rem);
      margin: 0;
      padding: 20px 20px 0 20px;
      overflow-y: scroll;
      overflow-x: hidden;
      box-sizing: border-box;

      &::-webkit-scrollbar-track {
        display: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }

      .user-messages {
        position: relative;

        .profile-img {
          position: absolute;
          height: 30px;
          width: 30px;
          border-radius: 15px;
          overflow: visible;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          &:after {
            content: attr(data-display-name);
            position: absolute;
            word-break: keep-all;
            top: -1.3rem;
            font-size: .6rem;
            color: #5f5f5f;
            letter-spacing: 1px;
            white-space: pre;
          }
        }

        li {
          margin-bottom: 1rem;

          &:last-of-type {
            margin-bottom: 30px;
          }

          span {
            display: inline-block;
            letter-spacing: 1px;
            font-size: .9rem;
            box-sizing: border-box;
            padding: 3px 10px;
            background-color: #ffffff;
            max-width: calc(100% - 100px);
            word-break: break-word;
          }
        }

        &:not(.self) {

          .profile-img {
            top: 0;
            left: 0;
            animation-delay: .8s;
            animation: slideInL ease .8s forwards;

            &:after {
              left: 50px;
            }
          }

          li {
            span {
              animation: slideInL ease .8s forwards;
              margin-left: 50px;
            }
          }
        }

        &.self {
          .profile-img {
            top: 0;
            right: 0;
            animation-delay: .8s;
            animation: slideInR ease .8s forwards;

            &:after {
              right: 50px;
            }
          }

          li {
            &:after {
              content: "";
              clear: both;
              display: table;
            }

            span {
              float: right;
              animation: slideInR ease .8s forwards;
              margin-right: 50px;
            }
          }
        }

        @keyframes slideInL {
          from {transform: translateX(-100%)}
          to   {transform: translateX(0%)}
        }

        @keyframes slideInR {
          from {transform: translateX(100%)}
          to   {transform: transalteX(0%)}
        }
      }
    }
  }

  .input {
    position: fixed;
    bottom: 0;
    height: 64px;
    width: 100vw;

    .inner-margin {
      display: block;
      margin: 0 auto;
      max-width: 960px;

      input {
        height: 30px;
        margin: 17px 0;
        background-color: #ffffff;
        border: none;
        outline: none;
        line-height: 30px;
        font-size: .8rem;
        box-sizing: border-box;
        padding: 0 10px;
        border-radius: 8px;
        width: 100%;
        filter: drop-shadow(0px 0px 3px #cecece);
      }
    }
  }

  @keyframes spin {
    from {transform: rotateZ(0deg)}
    to   {transform: rotateZ(360deg)}
  }
}
